/* Morph Button: Default Styles */

.morph-buttonAdd {
	position: relative;
	display: block;
	margin: 0 auto;
}

.morph-buttonAdd > button {
	position: relative;
	padding: 0;
	border: none;
	background-color: #e85657;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 10px;
	overflow: hidden;
}

.morph-buttonAdd.open > button {
	pointer-events: none;
}

.morph-content {
	pointer-events: none;
}

.morph-buttonAdd.open .morph-content {
	pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixedAdd,
.morph-button-fixedAdd .morph-content {
	width: 50px;
	height: 20px;
}

.morph-button-fixedAdd > button {
	z-index: 1000;
	width: 50px;
	height: 20px;
	-webkit-transition: opacity 0.1s 0.5s;
	transition: opacity 0.1s 0.5s;
}

.morph-button-fixedAdd.open > button {
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.morph-button-fixedAdd .morph-content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixedAdd.open .morph-content {
	opacity: 1;
}

.morph-button-fixedAdd .morph-content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixedAdd.open .morph-content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.morph-button-fixedAdd.active > button {
	z-index: 2000;
}

.morph-button-fixedAdd.active .morph-content {
	z-index: 1900;
}




/* Morph Button Style: Modal */
.morph-button-modalAdd::before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

.morph-button-modalAdd.open::before {
	opacity: 1;
	pointer-events: auto;
}

.morph-button-modalAdd.active::before {
	z-index: 1800;
}

.morph-button-modalAdd .morph-content {
	overflow: hidden;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modalAdd.open .morph-content {
	top: 50% !important;
	left: 50% !important;
	margin: -210px 0 0 -300px;
	width: 600px;
	height: 420px;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */


.morph-buttonAdd.morph-button-modal-2Add,
.morph-buttonAdd.morph-button-modal-3 {
	display: inline-block;
	margin: 5px 5px;

}

.morph-button-modal-2Add > button{
background-color: transparent;
color: #E7E7E7;
float:left;
margin-top: -6px;
margin-left: -24px;
width: 75px;
	}

/*more button css*/
.morph-button-modal-2Add {
padding:5px 25px; /*add some padding to the inside of the button*/
background:#50BC5B; /*the colour of the button*/
bckground: -webkit-gradient(linear, left top, left bottom, from(#66C37C), to(#50BC5B));
bckground: -webkit-linear-gradient(top, #66C37C, #50BC5B);
bckground: -moz-linear-gradient(top, #66C37C, #50BC5B);
bckground: -o-linear-gradient(top, #66C37C, #50BC5B);
bckground: linear-gradient(top, #66C37C, #50BC5B);
/*style to the text inside the button*/
font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
color:#fff;
font-size:1.1em;
letter-spacing:.1em;
font-variant:small-caps;
/*give the corners a small curve*/
-webkit-border-radius: 0 15px 15px 0;
-moz-border-radius: 0 15px 15px 0;
border-radius: 0;
/*add a drop shadow to the button*/
-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
  text-decoration: none;
  width:75px;
  font-family:'Verdana',Arial,sans-serif;
  font-size: 13px;
}

.morph-button-modal-2Add:hover {
  color:#edebda;
/*reduce the spread of the shadow to give a pushed effect*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
  text-decoration: none;
}
	
/*End of more button css*/
.morph-button-modal-2Add .morph-content{
	background-color: #fff;
	color: #333;
}

.morph-button-modal-2Add.open .morph-content {
	margin: -310px 0 0 -170px;
	width: 295px;
	height: 450px;
    overflow: scroll;

}

.morph-button-modal-2Add.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
 	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

/* Let's add some nice easing for all cases */
.morph-buttonAdd .morph-content,
.morph-buttonAdd.open .morph-content,
.morph-button-modal-4 .morph-clone {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Media Queries */

@media screen and (max-width: 600px) {
	.morph-button-modalAdd.open .morph-content {
		top: 0% !important;
		left: 0% !important;
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
		transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
	}
}

@media screen and (max-width: 400px) {
	.morph-button-fixedAdd,
	.morph-button-fixedAdd .morph-content {
		width: 200px;
		height: 80px;
	}

	.morph-button-fixedAdd > button {
		font-size: 75%;
	}

}	
	